:host {
  app-reaction-tray {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border);
  }
  .message-row {
    .message-content-wrap {
      width: 100%;
      markdown {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 100%;
      }
    }
  }
}
